<!DOCTYPE html>
<html>
<head>
  <title>Magick Title Demo</title>
  <link rel="stylesheet" type="text/css" href="styles.css" />
</head>
<body>

<div class="container">

  <%= yield %>

</div>

</body>
</html>
