<!DOCTYPE html>
<html>
<head>
  <title>Magick Title Demo</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/styles.css" />
  <script type="text/javascript" src="javascripts/jquery-1.5.1.min.js"></script>
  <script type="text/javascript" src="javascripts/jquery-ui-1.8.10.custom.min.js"></script>
</head>
<body>

<div class="container">

  <%= yield %>

</div>

</body>
</html>
