body {
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
  color: #080603;
}
a {
  text-decoration: none;
  color: #68962c;
}
.container {
  width: 500px;
  margin: 0 auto;
}
.header {
  border-bottom: 1px solid #ddd;
}
.header a {
  display: inline-block;
  padding: 4px 10px;
  background-color: #eee;
}

.flash {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}
.flash.notice {
  color: #68962c;
}
.flash.error {
  color: #c00e0e;
}
